/* Color Palette */
:root {
  --dark-grayish-blue: #2A2D3A;
  --light-grayish-blue: #B7C1D1;
  --soft-white: #E9EAEC;
  --deep-space-blue: #1A1E28;
  --muted-blue: #505872;
}
html, body {
  height: 100%; 
}

@font-face {
  font-family: 'Alduba';
  src: url('fonts/AlbulaPro-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'Alduba-norm';
  src: url('fonts/AlbulaPro-NormalMedium.otf') format('opentype');
}


body {
  font-family: 'Alduba-norm','Arial', sans-serif;
  color: var(--deep-space-blue);
  margin: 0;
  padding: 0;
  background-image: url('assets/background.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; 
  background-attachment: fixed;
}

h1{
  font-family: 'Alduba',"Georgia", serif;
}

p {
  font-size: 16px;
  line-height: 26px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  hyphens: auto;
}

.container {
  margin: 100px 15px;
  max-width: 600px;
}

@media screen and (min-width: 600px){ 
  .container{
    padding: 0 30px;
  }
  p{
    font-size: 18px;
    line-height: 30px;
  }
}

.top-section {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}

nav{
  background-color: white;

  box-shadow: 0 0 15px 10px rgba(255, 255, 255, 0.7);

}

nav ul li a {
  text-decoration: none;
  color: inherit;
}

nav ul li a:hover,
nav ul li .home-icon-link:hover {
  text-decoration: none;
  border-bottom: 1px solid currentColor;
  display: inline-block;
  padding-bottom: 2px;
}

.white-background{
  background-color: rgba(255, 255, 255, 0.7);
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
  height: 50px;
}

nav li {
  font-size: 1.2rem;
  color: var(--deep-space-blue);
  cursor: pointer;
}


/* Hamburger styles */

.hamburger {
  display: none; /* Hidden by default */
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  outline: none;
}

.hamburger span {
  height: 3px;
  width: 18px;
  background-color: var(--deep-space-blue);
  transition: 0.3s;
}

/* Mobile styles */

@media screen and (max-width: 600px) {
  header{
    position: static;
  }
  .hamburger {
    display: flex; /* Show the hamburger on mobile */
    margin-top: 10px;
  }

  #nav-list {
    /* z-index: 9999; */
    display: none; /* Hide the navigation by default */
    flex-direction: column; /* Make it vertical */
    width: 100%;
  }

  #nav-list {
    background-color: rgba(255, 255, 255, 0.9); /* Slightly transparent white */
  }

  #nav-list.active { /* Show the navigation when active */
    display: flex;
  }

  nav ul li {
    text-align: center;
    padding: 10px 0;
  }

  /* Animation for the hamburger to "X" transformation */
  .hamburger.active span:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active span:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active span:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  #nav-list {
    position: absolute; /* Absolute position */
    top: 140px; /* Position it below the header */
    left: 0;
    width: 100%;
    max-height: 0; /* By default it's closed */
    /* overflow: hidden; */
    transition: max-height 0.3s ease-in-out; /* Transition effect */
    z-index: 1000; /* High z-index to appear on top */
    background-color: white; /* A background to differentiate from the content below */
    padding-bottom: 10px;
  }

  #nav-list li{
    background-color: white; /* A background to differentiate from the content below */

  }

  #nav-list li:last-child{
    padding-bottom: 20px;
    border-bottom: 2px solid #0f1219;

  }

  nav li, nav li a {
    background-color: white;
    width: 100%;
  }

  #nav-list.active {
    max-height: 300px; /* Set an approximate max height when open. Adjust if necessary */
    width: 100%;
  }
}


/* landing page */
.intro-content {
    text-align: center;
    margin-top:15px;
}

.intro-content h1 {
    font-size: 3.5rem;
    color: var(--deep-space-blue);
    margin-bottom: 30px;
    margin-top:15px;
    position: relative;

    &::after {
        content: "";
        position: absolute;
        bottom: -10px;
        left: 0;
        width: 20%;
        height: 3px;
        background: var(--deep-space-blue);
    }
}

.intro-content p:first-of-type { 
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--deep-space-blue);
    margin-bottom: 0px;
}
.intro-content p:nth-child(3) { 
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--deep-space-blue);
  margin-bottom: 30px;
}

.intro-content p {
    font-size: 1.1rem;
    color: var(--deep-space-blue);
    line-height: 1.8;
    margin-bottom: 40px;
    position: relative;

    /* Dotted decoration */
    &::before {
        /* content: "...."; */
        position: absolute;
        top: 0;
        left: -20px;
        font-size: 2rem;
        line-height: 1.1;
        letter-spacing: 3px;
        color: var(--deep-space-blue);
    }
}

.cta-button {
  display: inline-block;
  background: linear-gradient(180deg, var(--light-grayish-blue) -106%, var(--deep-space-blue) 100%);
  border-radius: 30px;
  color: #E1E4E8;
  font-weight: bold;
  text-align: center;
  padding: 10px 25px;
  font-size: 1.1rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
  transition: transform 0.3s;
  border: 2px solid #0f1219;

}

.cta-button:hover {
  transform: translateY(-2px);
}

.hover-tip{
  font-size: 12px !important;
  color: var(--light-grayish-blue) !important;
}

.icon-row {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  padding: 20px 0;
}

.icon-container {
  position: relative;
  text-align: center;
  width: 24%;
}

.circle-icon {
  display: block;
  width: 60px;
  height: 60px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;

  transform: scale(1);
  transition: transform 0.3s ease;
  animation: rhythmicGrowShrink 3s infinite;
}

@keyframes rhythmicGrowShrink {
  0%, 100% {
      transform: scale(1);
  }
  50% {
      transform: scale(1.05);
  }
}

.brain{background-image: url('assets/brain-icon.svg');}
.code{background-image: url('assets/code-icon.svg');}
.globe{background-image: url('assets/globe-icon.svg');}

.icon-text {
  display: none;
  position: absolute;
  background-color: #fff;
  color: #333;
  padding: 20px;
  width: 400px;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
  z-index: 1;
  margin-bottom: 10px;
  border-radius: 30px;


  bottom: calc(100% + 10px);
  left: 50%;
  transform: translateX(-50%);
}

@media screen and (max-width: 600px) {
  .icon-text {
    position: fixed;
    font-size: 14px;
    top: 50%;
    left: 0;
    right: 0;
    bottom: auto;
    transform: translateY(-50%);
    width: 90%;
    max-width: none;
    border-radius: 0; 
    z-index: 10;
  }
}

.icon-container:hover .icon-text {
  display: block;
}

.icon-container.active .circle-icon {
  transform: scale(1.6);
  transition: transform 0.3s ease;
  animation: none;
}

/* projects page  */
.project-display {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 10px;
  background-color: #f9f9f9;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.project-display p{
  font-size: 14px!important;
  margin-bottom: 15px !important;
}

.text-section {
  flex-basis: 45%;
}

.media-section {
  flex-basis: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-title {
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.project-subtitle {
  margin-bottom: 15px;
}

.project-subtitle a {
  text-decoration: none;
  color: inherit;
  transition: underline 0.3s ease;
}

.project-subtitle a:hover {
  text-decoration: underline;
}

.project-description {
  margin-bottom: 15px;
}

.technology-tags {
  display: flex;
  flex-wrap: wrap;
}

.tech-tag {
  background-color: #e6e6e6;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 2px;
  font-size: 14px;
}

.project-image {
  max-width: 100%;
  border-radius: 10px;
}


.project-video {
  max-width: 100%;
}

.projects-section {
  margin: 20px;
  margin-left:5%;
  margin-right:5%;
  position: relative;
  width: 90%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 600px) {
  .project-display{
    flex-direction: column;
  }

  .technology-tags{
    margin-bottom:15px;
  }
}

/* work history  */
.experience-section section {
  padding: 40px;
  max-width: 800px;
  margin: 0 auto;
}

.experience-section h1{
  font-size: 32px;
}

.experience-section h1, .experience-section h2 {
  border-bottom: 2px solid #666;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.experience-section p {
  margin-bottom: 20px;
}

/* About Section Styles */
#about {
  background-color: #FFF;
  padding: 60px 40px;
  margin-bottom: 15px;
  border-radius: 10px;
}

/* Work History Section Styles */
#work-history {
  background-color: #E9E9E9;
  padding: 60px 40px;
  border-radius: 10px;
}

#work-history h2:first-child{
  margin-top:30px;
}

.job {
  margin-bottom: 30px;
}

.date {
  font-size: 0.9em; 
  color: #999;
  display: block;
  margin-bottom: 10px;
}


/* endorsements  */
.endorsement-container {
  width: 80%;
  margin-top: 30px;
}
.recommendation {
  display: flex;
  margin-bottom: 30px;
  padding: 15px;
  background-color: #E9E9E9;
  border-radius: 10px;
}
.endorsement-container img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 20px;
}
.endorsement-container .name {
  font-size: 24px;
  font-weight: bold;
}
.endorsement-container .title-rel {
  font-size: 18px;
  color: var(--muted-blue);
  margin: 5px 0;
}
.endorsement-container .endorsement {
  flex-grow: 1;
  font-size: 16px;
  font-style: italic;
  margin-bottom: 20px;

}
.endorsement-container a {
  text-decoration: none;
  color: var(--muted-blue);
  font-size: 16px;
}
.endorsement-container a:hover {
  text-decoration: underline;
}

br{
  margin-top:10px;
}

/* contact page  */
.contact-section {
  max-width: 800px;
  margin: 40px auto;
  background-color: #ffffff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0,0,0,0.1);
}

.intro h2 {
  font-size: 24px;
  color: #333;
  border-bottom: 2px solid #ccc;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.intro p {
  font-size: 16px;
  color: #666;
  line-height: 1.6;
}

.contact-info h2 {
  font-size: 24px;
  color: #333;
  border-bottom: 2px solid #ccc;
  padding-bottom: 10px;
  margin-top: 40px;
  margin-bottom: 20px;
}

.contact-info ul {
  list-style: none;
  padding: 0;
}

.contact-info li {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.contact-info a {
  text-decoration: none;
  color: #333;
  font-size: 16px;
  display: flex;
  align-items: center;
}

.contact-info img {
  width: 24px;
  height: 24px;
  margin-right: 10px;
  display: block;
}

/* Hover effect for links */
.contact-info a:hover {
  color: #0077b5;
}

.jackson-img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 20px;
}

.about-container{
  display: flex;
  align-items: center;
}