/* Color Palette */
:root {
  --dark-grayish-blue: #2A2D3A;
  --light-grayish-blue: #B7C1D1;
  --soft-white: #E9EAEC;
  --deep-space-blue: #1A1E28;
  --muted-blue: #505872;
}
html, body {
  height: 100%; 
}

@font-face {
  font-family: 'Alduba'; /* You can name it anything you like */
  src: url('fonts/AlbulaPro-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'Alduba-norm'; /* You can name it anything you like */
  src: url('fonts/AlbulaPro-NormalMedium.otf') format('opentype');
}


body {
  font-family: 'Alduba-norm','Arial', sans-serif;
  /* background-color: var(--dark-grayish-blue); */
  color: var(--deep-space-blue);
  margin: 0;
  padding: 0;

  background-image: url('assets/background.svg');
  background-repeat: no-repeat;
  background-size: cover;  /* This will make the image cover the entire viewport */
  /* background-position: center center;  */
  background-position: center center; 
  background-attachment: fixed; /* This will fix the background image position while scrolling */
}

h1{
  font-family: 'Alduba',"Georgia", serif;
}

p {
  font-size: 16px;
  line-height: 26px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  hyphens: auto;
}

.container {
  margin: 100px 15px;
  max-width: 600px;
}

@media screen and (min-width: 600px){ 
  .container{
    padding: 0 30px;
  }
  p{
    font-size: 18px;
    line-height: 30px;
  }
}

.top-section {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}

nav{
  background-color: white;
}

.white-background{
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 10px rgba(255, 255, 255, 0.7);
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

nav li {
  font-size: 1.2rem;
  color: var(--deep-space-blue);
  cursor: pointer;
}

.intro-content {
    text-align: center;
    margin-top:15px;
}

.intro-content h1 {
    font-size: 3.5rem;
    color: var(--deep-space-blue);
    margin-bottom: 30px;
    margin-top:15px;
    position: relative;

    &::after {
        content: "";
        position: absolute;
        bottom: -10px;
        left: 0;
        width: 20%;
        height: 3px;
        background: var(--deep-space-blue);
    }
}

.intro-content p:first-of-type { 
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--deep-space-blue);
    margin-bottom: 0px;
}
.intro-content p:nth-child(3) { 
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--deep-space-blue);
  margin-bottom: 30px;
}

.intro-content p {
    font-size: 1.1rem;
    color: var(--deep-space-blue);
    line-height: 1.8;
    margin-bottom: 50px;
    position: relative;

    /* Dotted decoration */
    &::before {
        /* content: "...."; */
        position: absolute;
        top: 0;
        left: -20px;
        font-size: 2rem;
        line-height: 1.1;
        letter-spacing: 3px;
        color: var(--deep-space-blue);
    }
}

.cta-button {
  display: inline-block;
  background: linear-gradient(180deg, var(--light-grayish-blue) -106%, var(--deep-space-blue) 100%);
  border-radius: 30px;
  color: #E1E4E8;
  font-weight: bold;
  text-align: center;
  padding: 10px 25px;
  font-size: 1.1rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
  transition: transform 0.3s;
  border: 2px solid #0f1219; /* Adding a darker border to resemble the design */

}

.cta-button:hover {
  transform: translateY(-2px);
}
