/* Color Palette */
:root {
  --dark-grayish-blue: #2A2D3A;
  --light-grayish-blue: #B7C1D1;
  --soft-white: #E9EAEC;
  --deep-space-blue: #1A1E28;
  --muted-blue: #505872;
}
html, body {
  height: 100%; 
}

@font-face {
  font-family: 'Alduba'; /* You can name it anything you like */
  src: url('fonts/AlbulaPro-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'Alduba-norm'; /* You can name it anything you like */
  src: url('fonts/AlbulaPro-NormalMedium.otf') format('opentype');
}


body {
  font-family: 'Alduba-norm','Arial', sans-serif;
  /* background-color: var(--dark-grayish-blue); */
  color: var(--deep-space-blue);
  margin: 0;
  padding: 0;
  background-image: url('assets/background.svg');
  background-repeat: no-repeat;
  background-size: cover;  /* This will make the image cover the entire viewport */
  /* background-position: center center;  */
  background-position: center center; 
  background-attachment: fixed; /* This will fix the background image position while scrolling */
}

h1{
  font-family: 'Alduba',"Georgia", serif;
}

p {
  font-size: 16px;
  line-height: 26px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  hyphens: auto;
}

.container {
  margin: 100px 15px;
  max-width: 600px;
}

@media screen and (min-width: 600px){ 
  .container{
    padding: 0 30px;
  }
  p{
    font-size: 18px;
    line-height: 30px;
  }
}

.top-section {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}

nav{
  background-color: white;

  box-shadow: 0 0 15px 10px rgba(255, 255, 255, 0.7);

}

nav ul li a {
  text-decoration: none;
  color: inherit;
}

nav ul li a:hover {
  text-decoration: underline;
}

.white-background{
  background-color: rgba(255, 255, 255, 0.7);
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
  height: 50px;
}

nav li {
  font-size: 1.2rem;
  color: var(--deep-space-blue);
  cursor: pointer;
}

/* landing page */
.intro-content {
    text-align: center;
    margin-top:15px;
}

.intro-content h1 {
    font-size: 3.5rem;
    color: var(--deep-space-blue);
    margin-bottom: 30px;
    margin-top:15px;
    position: relative;

    &::after {
        content: "";
        position: absolute;
        bottom: -10px;
        left: 0;
        width: 20%;
        height: 3px;
        background: var(--deep-space-blue);
    }
}

.intro-content p:first-of-type { 
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--deep-space-blue);
    margin-bottom: 0px;
}
.intro-content p:nth-child(3) { 
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--deep-space-blue);
  margin-bottom: 30px;
}

.intro-content p {
    font-size: 1.1rem;
    color: var(--deep-space-blue);
    line-height: 1.8;
    margin-bottom: 40px;
    position: relative;

    /* Dotted decoration */
    &::before {
        /* content: "...."; */
        position: absolute;
        top: 0;
        left: -20px;
        font-size: 2rem;
        line-height: 1.1;
        letter-spacing: 3px;
        color: var(--deep-space-blue);
    }
}

.cta-button {
  display: inline-block;
  background: linear-gradient(180deg, var(--light-grayish-blue) -106%, var(--deep-space-blue) 100%);
  border-radius: 30px;
  color: #E1E4E8;
  font-weight: bold;
  text-align: center;
  padding: 10px 25px;
  font-size: 1.1rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
  transition: transform 0.3s;
  border: 2px solid #0f1219;

}

.cta-button:hover {
  transform: translateY(-2px);
}


.icon-row {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  padding: 20px 0;
}

.icon-container {
  position: relative;
  text-align: center;
  width: 24%;
}

.circle-icon {
  display: block;
  width: 60px;
  height: 60px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;

  transform: scale(1); /* Default size */
  transition: transform 0.3s ease; /* Smooth transition for growth effect */
  animation: rhythmicGrowShrink 3s infinite;
}

@keyframes rhythmicGrowShrink {
  0%, 100% {
      transform: scale(1);
  }
  50% {
      transform: scale(1.05); /* Adjust this value for more or less growth */
  }
}

.brain{background-image: url('assets/brain-icon.svg');}
.code{background-image: url('assets/code-icon.svg');}
.globe{background-image: url('assets/globe-icon.svg');}

.icon-text {
  display: none;
  position: absolute;
  background-color: #fff;
  color: #333;
  padding: 20px;
  width: 400px;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
  z-index: 1;
  /* bottom: 100%; */
  margin-bottom: 10px;
  border-radius: 30px;


  bottom: calc(100% + 10px); /* Position it above the icon, considering its own height and some margin */
  left: 50%;
  transform: translateX(-50%); /* This keeps the tooltip centered above the icon */
}

@media screen and (max-width: 600px) {
  .icon-text {
      width: 100%;
      left: 0;
      transform: none;
  }
}

.icon-container:hover .icon-text {
  display: block;
}

.icon-container.active .circle-icon {
  transform: scale(1.6); /* Increase the size by 10% */
  transition: transform 0.3s ease; /* Smooth transition for growth effect */
  animation: none;
}

/* projects page  */
.project-display {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 10px;
  background-color: #f9f9f9;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.project-display p{
  font-size: 14px!important;
  margin-bottom: 15px !important;
}

.text-section {
  flex-basis: 45%;
}

.media-section {
  flex-basis: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-title {
  /* font-size: 24px; */
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.project-subtitle {
  /* font-size: 18px; */
  margin-bottom: 15px;
}

.project-subtitle a {
  text-decoration: none;
  color: inherit;
  transition: underline 0.3s ease;
}

.project-subtitle a:hover {
  text-decoration: underline;
}

.project-description {
  margin-bottom: 15px;
}

.technology-tags {
  display: flex;
  flex-wrap: wrap;
}

.tech-tag {
  background-color: #e6e6e6;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 2px;
  font-size: 14px;
}

.project-image {
  max-width: 100%;
  border-radius: 10px;
}


.project-video {
  max-width: 100%;
  /* border-radius: 10px; */
}

.projects-section {
  margin: 20px;
  margin-left:5%;
  margin-right:5%;
  position: relative;
  width: 90%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 600px) {
  .project-display{
    flex-direction: column;
  }

  .technology-tags{
    margin-bottom:15px;
  }
}

